*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    height: 100dvh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #3a4452;
    padding: 2rem;
    border-radius: 1rem;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 2rem;
    columns: #fff;
    cursor: pointer;
    margin: 1rem;
    text-align: center;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 3.5rem;
    padding: 10px;
    box-shadow: none;
    border: 2px solid #303233;
}
#equal{
    width: 14rem;
    font-size: 3rem;
}
form input.operator{
    color: #18c0a1;
    font-weight: bold;
}